################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsCppTester/WindowsCppTester.VC.VC.opendb
/WindowsCppTester/WindowsCppTester.VC.db
/WindowsCppTester/ipch/WINDOWSCPPTESTER-4e5fa955/WINDOWSCPPTESTER-7622ca51.ipch
/WindowsCppTester/.vs/WindowsCppTester/v14/.suo
