################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsCppTester/WindowsCppTester.VC.VC.opendb
