################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsCppTester/WindowsCppTester.VC.VC.opendb
/WindowsCppTester/WindowsCppTester.VC.db
/WindowsCppTester/ipch/WINDOWSCPPTESTER-4e5fa955/WINDOWSCPPTESTER-7622ca51.ipch
/WindowsCppTester/.vs/WindowsCppTester/v14/.suo
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog/WindowsCppTester.lastbuildstate
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog/link.write.1.tlog
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog/link.read.1.tlog
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog/link.command.1.tlog
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog/CL.write.1.tlog
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog/CL.read.1.tlog
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog/CL.command.1.tlog
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.tlog
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.pch
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.obj
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.log
/WindowsCppTester/WindowsCppTester/Debug/WindowsCppTester.Build.CppClean.log
/WindowsCppTester/WindowsCppTester/Debug/vc140.pdb
/WindowsCppTester/WindowsCppTester/Debug/vc140.idb
/WindowsCppTester/WindowsCppTester/Debug/stdafx.obj
/WindowsCppTester/WindowsCppTester/Debug
/WindowsCppTester/Debug/WindowsCppTester.pdb
/WindowsCppTester/Debug/WindowsCppTester.ilk
/WindowsCppTester/Debug/WindowsCppTester.exe
